<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>index</title>
</head>
<body>
    <div class="bg-dark p-5" style="height: 100vh;">
        <div class="container border p-4 bg-white">
            <h1 class="display-4">Soma</h1>
            <ht/>

            <form action="" method="POST">
                <input type="number" placeholder="Digite um número" name="num1" class="form-control my-3">
                <input type="number" placeholder="Digite um número" name="num2" class="form-control my-3">

                <input type="radio" name="opc" id="soma" checked value="soma">
                <label for="soma">Soma</label>

                <input type="radio" name="opc" id="subt" value="subt">
                <label for="subt">Subtração</label>

                <input type="radio" name="opc" id="mult" value="mult">
                <label for="mult">Multiplicação</label>

                <input type="radio" name="opc" id="div" value="divi">
                <label for="div">Divisão</label>

                <br/>

                <div class="mt-4">
                    <button class="btn btn-primary">Enviar</button>
                    <button class="btn btn-secondary" type="reset">Cancelar</button>
                </div>

                
            </form>

        </div>
            
    </div>
</body>
</html>